<h2>Create user</h2>
<%= form_for(@user, url: admins_path, html: { multipart: true }) do |f| %>
<% @user.build_attachment %>
<div class="field">
<%= f.fields_for :attachment do |r| %>
  <%= r.file_field :avatar %>
<% end %>
</div>

  <div class="field">
    <p><%= f.label :username %><br />
    <%= f.text_field :username %></p>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
